body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	background: var(--color-bg);
	color: var(--color-text);
	min-height: 100dvh;
	font-size: var(--step-0);
	line-height: 1.6;
	font-family: var(--font-sans);
	text-wrap: balance;
}

.content {
	height: 100%;
}
.wrapper {
	margin: auto;
	max-width: var(--max-content-width);
}

p {
	max-width: var(--maxchars);
}

h1,
h2,
h3,
h4,
h5 {
	text-wrap: pretty;
	font-family: var(--font-serif);
	line-height: 1.15;
}
