---
import Pandabox from "@components/Pandabox.astro";
import Layout from "@layouts/BaseLayout.astro";

const meta = {
	title: "Greater Phuket",
	description: "Phuket and beyond: Phang Nga, Krabbi and more…",
	imageOG: "generic-social-1200x630.png",
	altOG: "Alt text for OG image",
};
---

<Layout metaData={meta}>
  <main class="wrapper flow">
    <h1>Greater Phuket</h1>
    <p>Phuket, Phang Nga, Krabbi and beyond.</p>
    <hr />
    <Pandabox galleryid="panda" transitionType="fade" showThumbnails={true} />
  </main>
  <section class="content-grid"></section>
</Layout>
