---
// @components/page/Header.astro

import Nav from "@components/global/HeaderNav.astro";
import PriceConvert from "@components/utility/PriceConvert.astro";
---

<header class="header">
  <div class="wrapper header-inner">
    <h2>Header</h2>
    <Nav />
    <!-- <PriceConvert /> -->
  </div>
</header>
<style>
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-block-end: var(--size-fluid-5);
    background: var(--color-surface);
    padding-block: var(--size-fluid-1);
  }
  .header-inner {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    justify-content: space-between;
  }
</style>
